/*
*= require_tree .
*/
.pdf-template {
  background-color: deeppink;
  background-image: url("https://www.pinpng.com/pngs/m/40-403853_simple-certificate-borders-certificate-background-images-png-transparent.png");
}