<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "pdf" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
</head>

<body
  id="placeholder"
  style="
  background-image: url('https://www.pngitem.com/pimgs/m/61-612505_transparent-background-page-borders-png-png-download.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -45px;
  height: 1172px;
  width: 100vw;
  padding: 0;
  margin: 0;
  "
>
  <%= yield %>
</body>

</html>
