<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "pdf" %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>

<body
  id="placeholder"
>
<%= yield %>
</body>

</html>
